allure-pytest==2.8.32
allure-python-commons==2.8.32
Appium-Python-Client==1.0.2
atomicwrites==1.4.0
attrs==20.3.0
certifi==2020.12.5
chardet==4.0.0
colorama==0.4.4
coverage==5.3.1
decorator==4.4.2
et-xmlfile==1.0.1
idna==2.10
importlib-metadata==3.3.0
iniconfig==1.1.1
jdcal==1.4.1
numpy==1.19.3
openpyxl==3.0.5
packaging==20.8
pandas==1.1.5
pluggy==0.13.1
py==1.10.0
pyparsing==2.4.7
pytest==6.2.1
pytest-cov==2.11.1
pytest-dependency==0.5.1
pytest-excel==1.4.2
pytest-html==3.1.1
pytest-metadata==1.11.0
pytest-repeat==0.9.1
python-dateutil==2.8.1
pytz==2020.4
requests==2.25.1
selenium==3.141.0
self==2020.12.3
six==1.15.0
testproject-python-sdk==0.64.3
toml==0.10.2
typing-extensions==3.7.4.3
urllib3==1.26.2
xlrd==1.2.0
zipp==3.4.0
